In [1]:
DATA_PATH=r'..\data\raw\ratings_Electronics (1).csv'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
raw_data=pd.read_csv(DATA_PATH)

In [4]:
raw_data.head()

    AKM1MP6P0OYPR  0132793040  5.0  1365811200
0  A2CX7LUOHB2NDG  0321732944  5.0  1341100800
1  A2NWSAGRHCP8N5  0439886341  1.0  1367193600
2  A2WNBOD3WNDNKT  0439886341  3.0  1374451200
3  A1GI0U4ZRJA8WN  0439886341  1.0  1334707200
4  A1QGNMC6O1VW39  0511189877  5.0  1397433600

In [5]:
raw_data.columns=["User_ID",'Product_ID','Ratings','Time_Stamp']

In [6]:
raw_data

                User_ID  Product_ID  Ratings  Time_Stamp
0        A2CX7LUOHB2NDG  0321732944      5.0  1341100800
1        A2NWSAGRHCP8N5  0439886341      1.0  1367193600
2        A2WNBOD3WNDNKT  0439886341      3.0  1374451200
3        A1GI0U4ZRJA8WN  0439886341      1.0  1334707200
4        A1QGNMC6O1VW39  0511189877      5.0  1397433600
...                 ...         ...      ...         ...
7824476  A2YZI3C9MOHC0L  BT008UKTMW      5.0  1396569600
7824477  A322MDK0M89RHN  BT008UKTMW      5.0  1313366400
7824478  A1MH90R0ADMIK0  BT008UKTMW      4.0  1404172800
7824479  A10M2KEFPEQDHN  BT008UKTMW      4.0  1297555200
7824480  A2G81TMIOIDEQQ  BT008V9J9U      5.0  1312675200

[7824481 rows x 4 columns]

In [7]:
raw_data.shape

(7824481, 4)

In [8]:

new_data= raw_data.sample(frac=0.15,random_state=42)
new_data.shape

(1173672, 4)

In [9]:
new_data

                User_ID  Product_ID  Ratings  Time_Stamp
1157290   AKEDGA2LY445V  B000M9ISQ2      5.0  1187740800
2677500   AEFTIUQHSVUFX  B002L6HE9G      1.0  1363392000
5814179  A15LOGO6NBSI6B  B007MXGG5Q      5.0  1358640000
6239750  A23LX12CA3G4FG  B008HOEDYU      1.0  1385337600
5344315  A3TV7QFYXAG130  B0069R7TAM      5.0  1402963200
...                 ...         ...      ...         ...
979175   A2RCDRVF83K61J  B000GUN2Y0      5.0  1298073600
6865251  A3IFUYT3WXV5O0  B00AB7QZMY      4.0  1380412800
6400596  A2V36DR8JFR87W  B008X9Z9ZQ      5.0  1367539200
309508    A8TM0MI3D9T29  B0000A0AJH      2.0  1193616000
3245023  A3MM6BG0TDX17S  B003D18DM0      1.0  1299283200

[1173672 rows x 4 columns]

In [10]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1173672 entries, 1157290 to 3245023
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   User_ID     1173672 non-null  object
 1   Product_ID  1173672 non-null  object
 2   Ratings     1173672 non-null  float64
 3   Time_Stamp  1173672 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 44.8+ MB

In [11]:
new_data.describe()

            Ratings    Time_Stamp
count  1.173672e+06  1.173672e+06
mean   4.012169e+00  1.338099e+09
std    1.380729e+00  6.905095e+07
min    1.000000e+00  9.127296e+08
25%    3.000000e+00  1.315181e+09
50%    5.000000e+00  1.361059e+09
75%    5.000000e+00  1.386115e+09
max    5.000000e+00  1.406074e+09

In [12]:
len(new_data.User_ID.unique())

958796

In [13]:
new_data.isnull().sum()

User_ID       0
Product_ID    0
Ratings       0
Time_Stamp    0
dtype: int64

In [20]:
new_data.sample(1).iloc[0]

User_ID       A3BSQPP8C8ZFOB
Product_ID        B00DW9YGV0
Ratings                  5.0
Time_Stamp        1387238400
Name: 7469366, dtype: object

In [21]:
import pickle
EXPORT_PATH=r'..\data\raw\dataframe.pickle'
new_data.to_pickle(EXPORT_PATH)